.style {
    margin-top: 30px;
    align-content: center;
}

.style img {
    border-radius: 50%;
    border-color: gray;
    border-style: solid;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: black;
    text-decoration: none;
}

a:hover a {
    color: red;
}

h5 {
    text-align: center;
}

a:hover img {
    border-color: rgb(255, 0, 0);
}